<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background home">
  <div class="container pt-5 pb-5">
    <div class="row no-gutters justify-content-around section-1">

      <div class="col-lg-4 col-sm-12 text-center text-lg-left m-auto p-8 p-lg-0">
        <h2>India's own virtual meeting app</h2>
        <p>
          <% if current_user %>
            <%= link_to "Create Meeting", "/u/home", :class => "btn btn-custom-primary sign-in-button" %>
            
          <% else %>
            <%= link_to "Create Meeting", signin_path, :class => "btn btn-custom-primary sign-in-button" %>
            <!-- <a href="" class="btn btn-outline-primary">Create new Meeting</a> -->
          <% end %>
        </p>
        <p>
          <a href="" data-toggle="modal" data-target="#joinMeetingModal" class="btn btn-custom-outline-secondary">Join Meeting</a>
        </p>
      </div>

      <div class="col-lg-7 col-sm-12 m-auto">
        <%= image_tag "hero.png" , :class => "hero-image" , :style => "" %>
      </div>



<!--       <div class="col-md-12 col-sm-12 text-center">
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 " style="font-weight:400;color:#999">
          They can steal your password or your phone, but never your FACE.. -->
          <%#= t("landing.welcome").html_safe %>
<!--         </p>
        <img src="../../assets/images/google-logo.png">
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 " style="font-weight:400;color:#999" >
          World's first conferenceing tool powered by Face ID -->
          <%#= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %>
        <!-- </p> -->


        <%#= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <!--<h4><%#= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>-->
        <%# end %>
      <!-- </div> -->
    </div>

    <div class="row no-gutters justify-content-around section-2 pt-9 pb-8">
      <div class="col-12">
        <h2 class="text-center pb-8">Features <div class="dash" style="width: 100px; -webkit-transform: translate(-40px, 30px); transform: translate(-55px, 50px);"></div></h2>

        <div class="row justify-content-around" style="padding: 0 40px;">
          <div class="col-md-4 col-6 feature text-md-left text-center">
            <%= image_tag "communications.png" , :class => "icon" , :style => "" %>
            <h5>Video & Audio</h5>
            <p class="d-md-block d-none">Host one on one or meetings and connect via only audio or both.</p>
          </div>
          <div class="col-md-4 col-6 feature text-md-left text-center">
            <%= image_tag "comment.png" , :class => "icon" , :style => "" %>
            <h5>Public Chat</h5>
            <p class="d-md-block d-none">Share insights, discuss or shoot questions via a public chat</p>
          </div>
          <div class="col-md-4 col-6 feature text-md-left text-center">
            <%= image_tag "share-1.png" , :class => "icon" , :style => "" %>
            <h5>Screen Share</h5>
            <p class="d-md-block d-none">Description</p>
          </div>



          <div class="col-md-4 col-6  feature text-md-left text-center">
            <%= image_tag "microphone-1.png" , :class => "icon" , :style => "" %>
            <h5>Record Meeting</h5>
            <p class="d-md-block d-none">Description</p>
          </div>
          <div class="col-md-4 col-6  feature text-md-left text-center">
            <%= image_tag "document.png" , :class => "icon" , :style => "" %>
            <h5>Shared Notes</h5>
            <p class="d-md-block d-none">Description</p>
          </div>
          <div class="col-md-4 col-6  feature text-md-left text-center">
            <%= image_tag "lock-1.png" , :class => "icon" , :style => "" %>
            <h5>Open or Closed Meeting</h5>
            <p class="d-md-block d-none">Description</p>
          </div>          
        </div>
      </div>
    </div>

    <div class="row no-gutters section-3">
      <div class="col-12 text-center">
        <div class="text-right">
          <%= image_tag "mandala-h-1.png" , :class => "mandala" , :style => "height: 200px; margin-right: 30px;" %>
        </div>
        <h2 class="pt-9 pb-9">
          Work from home and connect with loved ones,<br> just start with a simple <span class="text-custom-primary">HELLO!</span><br>
          We are in this together <span class="text-custom-secondary">INDIA...</span><br>
        </h2>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="monument"></div>

  </div>


</div>

<%= render "shared/modals/join_meeting_modal" %>