<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div id="room-block" data-path="<%= update_settings_path(room) %>" data-room-access-code="<%= room.access_code %>">
  <div class="row no-gutters">
    <div class="col-1">
      <%= index+1 %>
    </div>
    <div class="col-4">
      <% if room.deleted == false %>
        <%= link_to room.name,"/"+room.uid %>
      <% else %>
        <%= room.name %>
      <% end %>
    </div>
    <div class="col-2">
      <% if room.sessions > 0 %>
        <a href="#" onclick="openRoomRecordingModal(event,'<%= room.uid %>')" >View Recordings</a>
      <% else %>
        <i><%= "No Recordings" %></i>
      <% end %>
    </div>
    <div class="col-2">
      <% if room.deleted == false %>
        Active
      <% else %>
        Complete
      <% end %>
    </div>
    <div class="col-2">
      <%= room.created_at %> 
    </div>
    <div class="col-1 text-right">
      <% unless (room.deleted == true) %>
        <div class="item-action dropdown" data-display="static">
          <a href="javascript:void(0)" data-toggle="dropdown" data-display="static" class="icon">
            <i class="fas fa-ellipsis-v px-4"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-md-left">
            <a href="/<%= room.uid %>" class="delete-room dropdown-item">
              <i class="dropdown-icon fas fa-cog"></i> Join Meeting
            </a>
            <% unless room == current_user.main_room %>
              <!-- <a href="" data-toggle="modal" data-target="#deleteRoomModal" data-path="<%= room_path(room) %>" data-name="<%= room.name %>" class="delete-room dropdown-item">
                <i class="dropdown-icon far fa-trash-alt"></i> Close Meeting
              </a> -->
              <a class="delete-room dropdown-item" onclick="closemeeting(event,'<%= room.uid %>')" ><i class="dropdown-icon far fa-trash-alt"></i> Close Meeting</a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

