<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<div class="background pb-1 user-home">
  <div class="container">

    <div class="row no-gutters pt-7">
      <div class="col-lg-8 col-sm-12 m-auto">
        <h1 class="m-auto text-center">Welcome, <%= current_user.name %></h1>
      </div>
    </div>

    <div class="row no-gutters justify-content-center pb-9">
      <div class="col-lg-9 col-md-12 text-right image d-md-inline d-none">
        <%= image_tag "mandala-1.png" , :class => "mandala" , :style => "" %>
      </div>

      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 btn-box white-box text-center">
        <div>
          <a href="" class="btn btn-custom-primary mb-6" data-toggle="modal" data-target="#createMeetingModal" >Create New Meeting</a></div>
        <div>
          <a href="" class="btn btn-custom-secondary" data-toggle="modal" data-target="#joinMeetingModal" >Join Meeting</a>
        </div>
      </div>
    </div>

    <div class="row pt-6 pb-8 no-gutters row-list">
      <div class="col-12 col-md-10 m-auto white-box list-box">
        <div class="row no-gutters">
          <div class="col-12 list-heading">
            <h5>Past Meetings</h5>
          </div>
          <div class="col-12 ">
            <div class="row no-gutters table-heading list-title">
              <div class="col-1 d-none d-sm-inline">
                #
              </div>
              <div class="col-sm-4 d-none d-sm-inline">
                Meeting Name
              </div>
              <div class="col-8 d-inline d-sm-none">
                Meeting Details
              </div>              
              <div class="col-2  d-none d-sm-inline">
                Status
              </div>
              <div class="col-2  d-none d-sm-inline">
                Date of Meeting
              </div>
              <div class="col-sm-2 col-3">
                Recording
              </div>              
              <div class="col-1 text-right  d-none d-sm-inline">
                Actions
              </div>
            </div>
            <% current_user.all_rooms.each.with_index do |room, index| %>
              <%= render "rooms/components/room_row", room: room, index: index %>
              <%= render "shared/modals/list_room_recording_modal", room: room , recordingsList: @recordingsList[index], index: index  %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/modals/delete_room_modal" %> 
<%= render "shared/modals/create_meeting_modal" %>

<%= render "shared/modals/join_meeting_modal" %>